/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
/*.spin {
    -webkit-animation:spin 8s linear infinite;
    -moz-animation:spin 8s linear infinite;
    animation:spin 8s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.spinCounter {
    -webkit-animation:spin 8s linear infinite;
    -moz-animation:spin 8s linear infinite;
    animation:spin 8s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(-360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(-360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(-360deg); transform:rotate(-360deg); } }
*/
.alignCtr {
  text-align: center;
}

.marginLeft {
  margin-left: -4.55rem;
}

.marginRt {
  margin-right: 1.5rem;
}

.ftrDisclaimer {
  font-size: 10px;
  text-align: center;
  color: white;
}

.noMargin {
  margin: 0px;
}

.ftrIcons {
  font-size: 4rem;
  text-align: center;
}

.whoRow {
  margin-bottom: 0px;
  padding-top: 5rem;
  padding-bottom: 6rem;
}

.webdevIcon {
  width: 12rem !important;
  margin-top: 11rem;
}

.marketingIcon {
  width: 14rem !important;
  margin-top: 10rem;
}
.navSpacing {
  margin-top: -1.25rem;
  margin-left: -0.6rem;
}

.noClickEvent {
  pointer-events: none;
}

.h1Spacing {
  font-size: 3rem;
  margin-top: 0.25rem;
  margin-bottom: 0px;
}

.mainImg {
  top: -25rem;
}

nav {
  position: fixed;
  background-color: transparent;
  box-shadow: none;
}

nav ul a,
nav .brand-logo {
  color: white;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}